.address-result {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  table-layout: auto; 
}

.mat-table {
  overflow: visible !important; 
}

.mat-paginator {
  margin-top: 8px;
}
.text-right {
  text-align: right;
}
address-result {
  width: 100%;
  overflow-x: auto;

  .mat-table {
    overflow: visible; // ou remova completamente essa regra
  }
}
