.address-result {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  table-layout: auto; 
}

.mat-table {
  overflow: visible !important; 
}

.mat-paginator {
  margin-top: 8px;
}
