
$color-header-bg: #670000;
$color-button-bg: #d7dbdd; 
$color-button-bg-hover: #bfc3c5; 

$white: #ffffff;
$black: #000000;
$color-focus: #007BFF;
$color-error: #e74c3c;
$mobile-breakpoint: 768px;
$font-color-base: $black;
$font-color-base-second: $white;
$color-spinner-bg: #f3f3f3;
$color-spinner-foreground: #670000;